RewriteEngine On

# Définit le dossier de base de votre projet
RewriteBase /projet-parking/

# Ne pas réécrire les requêtes pour des fichiers ou des dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrire toutes les autres requêtes vers index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]